.leaderBoard {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.userBlock__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media (max-width: 576px) {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
}
.userBlock {
  display: flex;
  align-items: center;
  gap: 16px;
  &__avatar {
    height: 86px;
    width: 86px;
    background-color: #9ca4ae;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: auto;
    }
    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    &_name {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      @media (max-width: 768px) {
        font-size: 16px;
      }
      span {
        border-radius: 8px;
        background: #00f87a;
        padding: 2px 6px;
        color: #051323;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 768px) {
          font-size: 14px;
        }
        &.not {
          background-color: #f80000;
        }
      }
    }
    &_address {
      color: #9ca4ae;
      font-size: 14px;
      font-weight: 400;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 576px) {
    display: contents;
    &__info {
      grid-column: 1/3;
      grid-row: 2/3;
      &_name {
        font-size: 14px;
        span {
          font-size: 10px;
        }
      }
      &_address {
        font-size: 10px;
      }
    }
  }
}
.userCount {
  display: flex;
  flex-direction: column;

  &__number {
    color: #00f87a;
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%; /* 44px */
    @media (max-width: 768px) {
      font-size: 30px;
    }
    @media (max-width: 576px) {
      font-size: 24px;
      text-align: left;
    }
  }
  &__label {
    color: #9ca4ae;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    span {
      color: #00f87a;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
    @media (max-width: 576px) {
      text-align: left;
    }
  }
}
.userRef {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  &__text {
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: 576px) {
      gap: 7px;
    }
    h1 {
      color: #fff;
      font-size: 60px;
      font-weight: 700;
      line-height: 110%; /* 66px */
      @media (max-width: 768px) {
        font-size: 36px;
      }
      @media (max-width: 576px) {
        font-size: 24px;
      }
      span {
        color: #00f87a;
        font-size: inherit;
        font-weight: inherit;
        line-height: 110%;
      }
    }
    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      @media (max-width: 768px) {
        font-size: 30px;
      }
      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
    p {
      max-width: 700px;
      margin: 0 auto;
      color: #9ca4ae;
      font-size: 20px;
      font-weight: 400;
      line-height: 150%; /* 30px */
      @media (max-width: 768px) {
        font-size: 16px;
      }
      @media (max-width: 576px) {
        font-size: 14px;
      }
    }
  }
  &__table {
    min-width: 350px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #45505d;
    display: flex;
    flex-direction: column;
    gap: 15px;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media (max-width: 576px) {
      min-width: 100%;
      width: 100%;
    }
    &_head {
      padding-bottom: 15px;
      border-bottom: 1px solid #45505d;
      span {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      .userRef__table_pointCount {
        color: #00f87a;
      }
    }
    &_item {
      gap: 30px;
      &_name {
        color: #9ca4ae;
        font-size: 18px;
        font-weight: 400;
        @media (max-width: 768px) {
          font-size: 14px;
        }
        @media (max-width: 576px) {
          display: none;
        }
      }
      &_value {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: #fff;
        font-size: 24px;
        font-weight: 600;
        span {
          color: #00f87a;
        }
        @media (max-width: 768px) {
          font-size: 16px;
        }
        @media (max-width: 576px) {
          justify-content: start;
          text-align: left;
          font-size: 12px;
        }
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
      }
      &_button {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 13.5995V17.7995C16.5 21.2995 15.1 22.6995 11.6 22.6995H7.4C3.9 22.6995 2.5 21.2995 2.5 17.7995V13.5995C2.5 10.0995 3.9 8.69946 7.4 8.69946H11.6C15.1 8.69946 16.5 10.0995 16.5 13.5995Z' stroke='%2300F87A' stroke-width='2.3781' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.5002 7.60001V11.8C22.5002 15.3 21.1002 16.7 17.6002 16.7H16.5002V13.6C16.5002 10.1 15.1002 8.70001 11.6002 8.70001H8.50024V7.60001C8.50024 4.10001 9.90024 2.70001 13.4002 2.70001H17.6002C21.1002 2.70001 22.5002 4.10001 22.5002 7.60001Z' stroke='%2300F87A' stroke-width='2.3781' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      &_button_copy {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.69 2.5H8.31C4.67 2.5 2.5 4.67 2.5 8.31V16.68C2.5 20.33 4.67 22.5 8.31 22.5H16.68C20.32 22.5 22.49 20.33 22.49 16.69V8.31C22.5 4.67 20.33 2.5 16.69 2.5ZM17.28 10.2L11.61 15.87C11.47 16.01 11.28 16.09 11.08 16.09C10.88 16.09 10.69 16.01 10.55 15.87L7.72 13.04C7.43 12.75 7.43 12.27 7.72 11.98C8.01 11.69 8.49 11.69 8.78 11.98L11.08 14.28L16.22 9.14C16.51 8.85 16.99 8.85 17.28 9.14C17.57 9.43 17.57 9.9 17.28 10.2Z' fill='%2300F87A'/%3E%3C/svg%3E%0A");
      }
      @media (max-width: 576px) {
        gap: 10px;
      }
    }
  }
}

.connectors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 15px;
  .line {
    height: 1px;
    width: 100%;
    background-color: #45505d;
  }
  .connector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 230px;
    width: 100%;
  }
  .connector_done {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div:nth-child(1) {
      filter: grayscale(100%);
      opacity: 0.4;
    }
  }
}
.userRefLink {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
    }
    p {
      max-width: 700px;
      margin: 0 auto;
      color: #9ca4ae;
      font-size: 20px;
      font-weight: 400;
    }
    button {
      background-color: transparent;
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      span {
        color: #00f87a;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

.leaderBoardTable_wrapper {
  width: 100%;
  border-radius: 8px;
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    button {
      color: #051323;
      font-size: 20px;
      font-weight: 700;
      padding: 16px 24px;
      border-radius: 8px;
      background: #00f87a;
    }
    @media (max-width: 660px) {
      button {
        padding: 10px 16px;
        font-size: 14px;
      }
    }
  }
}

.leaderBoardTable {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  &__head {
    display: grid;
    grid-template-columns: 60px 160px 1fr 200px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(69, 80, 93, 0.1);
    backdrop-filter: blur(15px);
    padding: 24px;

    &_item {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
    }
    &_inviteBy {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 660px) {
        display: none;
      }
    }
    &_point {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: end;
    }
    @media (max-width: 660px) {
      grid-template-columns: 60px 1fr 100px;
      padding: 16px;
      &_item {
        font-size: 14px;
      }
    }
  }
  &__items {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 60px 160px 1fr 200px;
    border-radius: 8px;
    padding: 24px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #45505d;
    }
    &:nth-last-child(1) {
      &::before {
        display: none;
      }
    }
    &_item {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
    }
    &_rank {
      font-weight: 700;
    }
    &_inviteBy {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 660px) {
        display: none;
      }
    }
    &_point {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: end;
      font-weight: 700;
    }
    @media (max-width: 660px) {
      grid-template-columns: 60px 1fr 100px;
      padding: 16px;
      &_item {
        font-size: 14px;
      }
    }
  }
  &__item_accent {
    position: sticky;
    bottom: 0;
    display: grid;
    grid-template-columns: 60px 160px 1fr 200px;
    border-radius: 8px;
    padding: 24px;
    background-color: #6affb3;
    .leaderBoardTable__item_item {
      color: #051323 !important;
      font-size: 20px;
      font-weight: 400;
    }
    .leaderBoardTable__item_rank {
      font-weight: 700;
    }
    .leaderBoardTable__item_inviteBy {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 660px) {
        display: none;
      }
    }
    .leaderBoardTable__item_point {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: end;
      font-weight: 700;
    }
    @media (max-width: 660px) {
      grid-template-columns: 60px 1fr 100px;
      padding: 16px;
      .leaderBoardTable__item_item {
        font-size: 14px;
      }
    }
  }
}

.MintNftPage {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.MintNft {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__image {
    max-width: 588px;
    margin: 0 auto;
    .image {
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      > span {
        position: absolute;
        top: 16px;
        left: 16px;
        padding: 6px 8px;
        border-radius: 8px;
        background: rgba(69, 80, 93, 0.1);
        backdrop-filter: blur(15px);
        color: #45505d;
        font-size: 20px;
        font-weight: 400;
        span {
          color: #051323;
          font-weight: inherit;
          font-size: inherit;
        }
      }
    }
  }
  &__text {
    max-width: 740px;
    margin: 0 auto;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
      &_title {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
      }
      &_info {
        h4 {
          color: #fff;
          font-size: 18px;
          font-weight: 700;
        }
        p {
          color: #9ca4ae;
          font-size: 18px;
          font-weight: 400;
        }
        .tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 24px;
          > span {
            border-radius: 8px;
            border: 1px solid #45505d;
            padding: 16px 20px;
            color: #9ca4ae;
            font-size: 20px;
            font-weight: 400;
            span {
              font-size: inherit;
              font-weight: inherit;
              color: #fff;
            }
            &:nth-child(1) {
              max-width: 358px;
              width: 100%;
            }
            &:nth-child(2) {
              max-width: 358px;
              width: 100%;
            }
          }
        }
        .price {
          display: block;
          margin-top: 24px;
          color: #9ca4ae;
          font-size: 20px;
          font-weight: 400;
        }
        .date {
          color: #45505d;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
